  <%- include('../partials/_header') %>
  <title>Sign Up</title>
</head>
  <body>
    <%- include('../partials/_navBar') %>

    <h1>Register with the Guild to see the Beastiary</h1>
    <form action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />

      <label for="password">Password (at least 12 characters, no spaces):</label>
      <input type="password" name="password" id="password" minlength="12" pattern="^\S+$" required />

      <label for="confirmPassword">Confirm Password (must match):</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required />

      <label for="City">Hometown (City):</label>
      <select name="City" id="hometown" required>

      <label for="kingdom">Kingdom (State):</label>
      <select name="kingdom" id="kingdom" required>
        <% Location.schema.path('kingdom').enumValues.forEach(function(kingdom) { %>
          <option value="<%= kingdom %>"><%= kingdom %></option>
        <% }); %>
      </select>

      <label for="admin">Admin?:</label>
      <input type="checkbox" name="admin" id="admin" />
      
      <button type="submit">Register</button>
    </form>
  </body>
</html>
