    <%- include('../partials/_header') %>
    <title>Map Index</title>
</head>
<body>
    <%- include('../partials/_navBar') %>

    <h1>Map Index</h1>
    <p>Explore the map to find various locations.</p>
    
    
</body>
</html>