<article class="footer">
    <h1>About this site</h1>
    <p>Copyright 2025 ExtraG Data Solutions. Author: Macfarley</p>
    <p>Feel free to make a copy and improve this site on <a href="https://github.com/macfarley/Phantastic-Beasts">Github</a>.</p>
</article>
