<footer>
    <p>Copyright 2025 ExtraG Data Solutions.</p>
    <p>Author: Macfarley</p>
    <p>About this site</p>
    <p>Feel free to make a copy and improve this site on <a href="https://github.com/macfarley/Phantastic-Beasts">Github</a>.</p>
</footer>
</body>
</html>