<section class="top-nav">
    <div>
        <a href="/"><img src="/images/icons8-phoenix.png" alt="phoenix logo"></a>
    </div>
    <div><h1>Phantastic Beasts</h1></div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <% if (user) { %>
        <li><a class="nav-item" href="/">Home</a></li>
        <li><a class="nav-item" href="/locations">Locations</a></li>
        <li><a class="nav-item" href="/creatures/">Beastiary</a></li>
        <li><a class="nav-item" href="/users/">Your Page</a></li>
        <li><a class="nav-item" href="/auth/sign-out">Sign Out</a></li>
      <% } else { %>
        <li><a class="nav-item" href="/">Home</a></li>
        <li><a class="nav-item" href="/locations">Locations</a></li>
        <li><a class="nav-item" href="/auth/sign-up">Sign Up</a></li>
        <li><a class="nav-item" href="/auth/sign-in">Sign In</a></li>
      <% } %>
    </ul>
  </section>
