<section class="top-nav">
    <div>
        <img src="/images/icons8-phoenix.png" alt="phoenix logo">
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a class="nav-item" href="/">Home</a></li>
      <li><a class="nav-item" href="/locations">Locations</a></li>
      <li><a class="nav-item" href="/creatures/">Beastiary</a></li>
      <li><a class="nav-item" href="/auth/sign-up">Sign Up</a></li>
      <li><a class="nav-item" href="/auth/sign-in">Sign In</a></li>
      <li><a class="nav-item" href="/auth/sign-out">Sign Out</a></li>
    </ul>
  </section>
