<%- include('./partials/_header') %>
    <title>Phantasitic Beasts Home</title>
  </head>
  <body>
  <header>
    <nav><%- include('./partials/_navBar') %></nav>
  </header>
    <main class="overImage">
        <article>
          <h2>Welcome to the world of Phantastic Beasts, and Where We Found Them.</h2>
            <p>Explore the world of magical creatures, and let others know where you saw them.
                You are currently logged in as 
                <% if (session.user) { %>
                  <a href="/users/<%= session.user.username %>"><%= session.user.name %></a>
                <% } else { %>
                  Guest
                <% } %>.  
                <p>Only registered Explorer's Guild members can view the Beastiary and contribute their own stories. Currently, Guests can only view the <a href="/locations">Locations</a> list.</p>
                <p>Please <a href="/auth/sign-in">Log In</a> or <a href="/auth/sign-up">Register</a> so you can join in the fun!</p>
            </p>
        </article>
      </main>
