<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beastiary Index</title>
</head>
<body>
    <%- include('../partials/_navBar') %>

    <h1>Beastiary Index</h1>
    <p>Welcome to the Beastiary! Here you can find a list of all creatures.</p>
</body>
</html>