<%- include('../partials/_header') %>
    <title>User Details</title>
</head>
<body>
    <%- include('../partials/_navBar') %>

    <h1>User Details</h1>
    <p>Here you can view the details of a specific user.</p>
</body>
</html>